body{
    font-family: Helvetica, sans-serif;
    text-align: center;
    color: #FFFFFF;
    background-color: #888;
    padding: 0;
    margin: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #666; 
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}

ul li{
    margin-right: 12px;
}

ul li a{
    color: #FFFFFF;
}

h1{
    font-size: 32px;
}

img{
    border: 3px solid #a59739;
}  
footer{
    padding: 20px;
    border-top: 1px solid #666;
    margin-top: 20px;
}